.cOcre{
  background-color:#bc9349;

}
.cNegre{
  background-color:#000000;
}
.cGroc{
  background-color:#f9e400;
}
.cRoigOxid{
  background-color:#943852;
}
.cBlau{
  background-color:#4567af;
}
.cRoigViu{
  background-color:#e1161f;
}
.cMarro{
  background-color:#764e3d;
}
.cVerd{
  background-color:#5c994c;
}
.cTaronja{
  background-color:#f58e1a;
}
