div.my-login-page {
	font-size: 14px;
}

div.dropdown-lr {
  width: 320px;
}

div.my-login-page .form-control {
	border-width: 2.3px;
}

div.my-login-page .form-group label {
	width: 100%;
}

div.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

div.my-login-page .margin-top20 {
	margin-top: 20px;
}

div.my-login-page .no-margin {
	margin: 0;
}

@media screen and (max-width: 425px) {
	div.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	div.my-login-page .card.fat {
		padding: 0;
	}

	div.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

div.login-page .form-group label {
	width: 100%;
}

.login-text{
	color: #545b62;
}

.login-link{
	font-size: 15px;
}

/*

<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="img/logo.jpg">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form method="POST">

								<div class="form-group">
									<label for="email">E-Mail Address</label>

									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
								</div>

								<div class="form-group">
									<label for="password">Password
										<a href="forgot.html" class="float-right">
											Forgot Password?
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								</div>

								<div class="form-group">
									<label>
										<input type="checkbox" name="remember"> Remember Me
									</label>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
								<div class="margin-top20 text-center">
									Don't have an account? <a href="register.html">Create One</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2017 &mdash; Your Company
					</div>
				</div>
			</div>
		</div>
	</section>




	body.my-login-page {
		background-color: #f7f9fb;
		font-size: 12px;
	}

	.my-login-page .brand {
		width: 90px;
		height: 90px;
		overflow: hidden;
		border-radius: 50%;
		margin: 0 auto;
		margin: 40px auto;
		box-shadow: 0 0 40px rgba(0,0,0,.05);
	}

	.my-login-page .brand img {
		width: 100%;
	}

	.my-login-page1 .card-wrapper {
		width: 300px;
		margin: 0 auto;
	}


	.my-login-page1 .card {
		border-color: transparent;
		box-shadow: 0 0 40px rgba(0,0,0,.05);
	}

	.my-login-page1 .card.fat {
		padding: 10px;
	}

	.my-login-page1 .card .card-title {
		margin-bottom: 30px;
	}

	.my-login-page1 .form-control {
		border-width: 2.3px;
	}

	.my-login-page1 .form-group label {
		width: 100%;
	}

	.my-login-page1 .btn.btn-block {
		padding: 12px 10px;
	}

	.my-login-page1 .margin-top20 {
		margin-top: 20px;
	}

	.my-login-page1 .no-margin {
		margin: 0;
	}
	/*
	.my-login-page .footer {
		margin: 40px 0;
		color: #888;
		text-align: center;
	}

	@media screen and (max-width: 425px) {
		.my-login-page1 .card-wrapper {
			width: 90%;
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 320px) {
		.my-login-page1 .card.fat {
			padding: 0;
		}

		.my-login-page1 .card.fat .card-body {
			padding: 15px;
		}
	}
*/
