Objeto----
VegaWeb S.L en adelante El Prestador, responsable del sitio web, pone a disposición de los usuarios el presente documento con el que pretende dar cumplimiento a las obligaciones dispuestas en la Ley 34/2002, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE), así como informar a todos los usuarios del sitio web respecto a cuáles son las condiciones de uso del sitio web.

Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la observancia y cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cuales quiera otra disposición legal que fuera de aplicación. El hecho de acceder a esta página implica el conocimiento y aceptación de los siguientes términos y condiciones de uso. El prestador se reserva el derecho a modificar cualquier tipo de información que pudiera aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web del prestador.

Responsabilidad----
El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web, siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo.

Este sitio web ha sido revisado y probado para que funcione correctamente. En principio, puede garantizarse el correcto funcionamiento los 365 días del año, 24 horas al día. No obstante, el prestador no descarta la posibilidad de que existan ciertos errores de programación, o que acontezcan causas de fuerza mayor, catástrofes naturales, huelgas, o circunstancias semejantes que hagan imposible el acceso a la página web.

Actualización y modificación de la página web----
El prestador se reserva el derecho de actualizar, modificar o eliminar la información contenida en su página web, y su configuración o presentación, en cualquier momento, sin previo aviso y sin asumir ningún tipo de responsabilidad por hacerlo.

Propiedad Intelectual e industrial----
El sitio web, incluyendo a título enunciativo pero no limitativo su programación, edición, compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos son propiedad del prestador o en su caso dispone de licencia o autorización por parte de los autores. Todos los contenidos del sitio web se encuentran debidamente protegidos por la normativa de propiedad intelectual e industrial, así como inscritos en los registros públicos correspondientes.

Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso, explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa por parte del prestador. Cualquier uso no autorizado previamente por parte del prestador será considerado un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.

Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos.
Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del siguiente correo electrónico info@vegaweb.es

Medidas de Seguridad----
Se han adoptado los niveles de seguridad de protección de los Datos Personales legalmente requeridos por la normativa vigente, y se ha instalado todos los medios y medidas técnicas y organizativas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales que se nos facilite. No obstante, el Usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.

Legislación y jurisdicción aplicable----
Con carácter general, las relaciones con los usuarios, derivadas de la prestación de nuestras actividades y servicios contenida en esta página web, están sometidos a la legislación y jurisdicción española. Para la resolución de todos los conflictos derivados o relacionados con su uso se realizará en los Juzgados y Tribunales de Granada. Los usuarios de esta página web son conscientes de todo lo que se ha expuesto y lo aceptan voluntariamente.

VegaWeb S.L
C/ Valencia 11 Local 2
C.P. 18007
Granada, España
